.side-bar {
  background-color: #fff;
}

div.highlighter-rouge {
  // background: #fbfbfd;
  background: #f6f6fb;
  box-shadow: 0 1px 1px rgba(0,0,0,.075);
  margin-top: 1em;
}

.highlight {
  .cm, .c1 {
    color: #9e9e9e;
  }

  .gp {
    color: #9e9e9e80;
    // font-weight: bold;
  }

  .k {
    color: #1a38eb;
  }

  .kc {
    color: #e27414;
  }

  .mi, .mf, .mo, .mb, .mh {
    color: #c28b00;
  }

  .o {
    color: #5e5f60;
  }

  .s {
    color: #19a70e;
  }

  .se {
    color: #68d45f;
  }

  .nb, .nf {
    color: #9b0ea8;
  }

  .na {
    color: #4e758b;
    font-style: italic;
  }

  .go {
    color: #242326;
  }

  .nl {
    color: #6b6b6b;
  }

  .nd {
    color: #d00074;
  }

  .n {
    color: #555;
  }

  .err {
    color: #e93123;
  }
}

tt,
code,
pre {
  font-family: monospace, sans-serif;
  font-size: .95em;
}

code {
  padding   : 0 .15em;
  border    : 0;
  font-family: source-code-pro,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

pre {
  line-height: 120%;

  code {
    background: transparent;
  }
}

@media (min-width: 50rem) {
  .side-bar {
    border-right  : 1px solid #cfccc1;
  }
}

blockquote {
  border-left: 4px solid #ddddbc;
  padding: 1px 12px 1px 12px;
  margin: 0;
  background: #f5f5dc;
  font-size: .9em;
  text-align: start;
  margin-bottom: 1em;

  ul {
    margin-bottom: 0;
  }
}

.table-wrapper {
  box-shadow: none;
}

.language-blade-repl {
  position: relative !important;
  overflow-x: unset !important;

  .highlight {
    overflow-x: auto;
  }

  &::after {
    content: "REPL";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 78%;
    padding: 0 .75em;
    /* border: 1px solid #db3131ab; */
    border-bottom-left-radius: .25em;
    border-top-right-radius: .25em;
    background: #db3131ab;
    color: #fff;
    /* margin: 2px; */
  }

  &.off{
    .highlight {
      .gp, .err, .go {
        display: none;
      }
    }

    &::after {
      text-decoration: line-through;
    }
  }
}

.main-content {
  dl {
    display: block;
    margin-bottom: 2em;
    margin-top: 2em;
    // font-size: .9em;
  }
  dt {
    display: block;
    text-align: left;

    strong {
      font-size: 110%;
    }
  }
  dd {
    display: block;
    margin-left: 2em;

    blockquote {
      margin-top: .5em !important;
    }
  }

  blockquote {
    &.pop {
      background: #fff2be; 
      padding-top: .5em; 
      padding-bottom: .5em
    }
  }
}

.cite {
  // background: #fff8dc;
  font-size: .87em;
  padding: 0.2em 1em;
  color: #424242;

  .hint {
    color: #3f51b5;
    font-weight: bold;
  }
}

.site-footer {
  display: none;
}

.btn {
  background-image: none !important;
}
