body {
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size  : 100%;
  // color      : #000;
  color      : #5c5962;
}

.side-bar {
  background-color: #f5f6fa;
}

hr {
  margin: 1rem 0 2rem 0;
}

a, .nav-list .nav-list-item .nav-list-expander {
  color: #006dc3;
}

a:not([class]):hover {
  background: none;
  text-decoration: underline;
}

.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-link.active {
  background-image: none;
  border-right: 4px solid #5c5962;
}

.site-button {
  &:hover {
    background: #f5f5f5;
  }
}

.search-input:focus+.search-label .search-icon, 
.search-result-doc .search-result-icon, 
.main-content .anchor-heading svg {
  color: #006dc3;
}

.search-result:hover,
.search-result.active {
  background-color: #f7fbff;
}

::selection {
  color     : #fff;
  background: #6c9fec;
}

.btn {
  &.btn-primary {
    background: #006dc3 !important;
  }

  &.btn-red {
    background: #ee3a3a;
    color: white;

    &:hover {
      color: white;
    }
  }

  &.btn-green {
    background: #44ad34;
    color: white;

    &:hover {
      color: white;
    }
  }
}

/* div.highlighter-rouge {
  background-color: #1E1E1E;
  color: #D4D4D4;
} */

.highlight {
  .cm, .c1 {
    color: #9e9e9e;
  }

  .gp {
    color: #9e9e9e80;
    font-weight: bold;
  }

  .k, .kc {
    color: #1ea1e9;
  }

  .mi, .mf, .mo, .mb, .mh {
    color: #f49721;
  }

  .o {
    color: #607d8b;
  }

  .s {
    color: #de7536;
  }

  .se {
    color: #f09f6e;
  }

  .nb, .nf {
    color: #2280ff;
  }

  .na {
    color: #4d8bdf;
    font-style: italic;
  }

  .go {
    color: #5c5962;
  }

  .nl {
    color: #4caf50;
  }

  .n {
    color: #808080;
  }

  .err {
    color: #f44336;
  }
}

tt,
code,
pre {
  font-family: monospace, sans-serif;
  font-size  : 96.5%;
}

code {
  padding   : 0 .15em;
  border    : 0;
  background: #f0f2f7;
}

pre {
  line-height: 120%;

  code {
    background: transparent;
  }
}


@media (min-width: 31.25rem) {
  h1,
  .text-alpha {
    font-size: 46px !important;
  }
}

@media (min-width: 50rem) {
  .side-bar {
    border-right  : 1px solid #00000005;
  }
}

blockquote {
  border-left: 4px solid #c7c7c7;
  padding: 0px 25px 0px 25px;
  margin: 0;
  border-right: 4px solid #c7c7c7;
}

.side-bar {
  .nav-list .nav-list-item {

    .nav-list-link:hover {
      background: #e3e3e3;
    }

    .nav-list-link.active {
      background: #424242;
      color: #fff !important;
    }
  }
}

@media (min-width: 66.5rem) {
  .side-bar {
    width: 280px;

    .nav-list .nav-list-item > .nav-list {
      padding-left: 0;
    }
  }

  .site-nav, .site-header, .site-footer {
    width: 280px;
  }
}

.table-wrapper {
  box-shadow: none;
}

.main-content {
  text-align: justify;
  
  h2 {
    margin-top: 2em;
  }
}

.language-blade-repl {
  position: relative !important;
  overflow-x: unset !important;

  .highlight {
    overflow-x: auto;
  }

  &::after {
    content: "REPL";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 78%;
    padding: 0 .75em;
    border: 1px solid #c9c9c9ab;
    border-bottom-left-radius: .25em;
    border-top-right-radius: .25em;
  }

  &.off{
    .highlight {
      .gp, .err, .go {
        display: none;
      }
    }

    &::after {
      text-decoration: line-through;
    }
  }
}

.main-content {
  dl {
    display: block;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  dt {
    display: block;
    text-align: left;

    strong {
      font-size: 110%;
    }
  }
  dd {
    display: block;
    margin-left: 2em;
  }

  blockquote {
    &.pop {
      background: #fff2be; 
      padding-top: .5em; 
      padding-bottom: .5em
    }
  }
}